div.page_inicial {
  display: flex;
  flex-direction: column;
  z-index: 10;
}

div.page_inicial .header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 130px 70px 0px;
}

div.page_inicial .header .title{
  max-width: 659px;
}

div.page_inicial img.background-image {
  display: flex;
  max-width: min(100%, 85vw);
  position: sticky;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  z-index: 1;
}

div.page_inicial form{
  display: flex;
  align-items: center;
}

div.page_inicial .form p {
  color: var(--error);
  font-size: 24px;
  margin: 16px 26px;
}

div.page_inicial input{
  background: #EBF2FA;
  border-radius: 15px;
  padding: 26px;
  border: none;
  max-width: 500px;
  margin-right: 30px;
  outline: none;

  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 37px;

  color: var(--blue);
}

div.page_inicial button {
  background: var(--secondary);
  border-radius: 15px;
  width: 90px;
  height: 90px;
  outline: none;
  border: none;
  cursor: pointer;
}

@media (max-width: 425px) {

  div.page_inicial {
    z-index: 10;
    flex-direction: column-reverse;
  }

  div.page_inicial .header {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 0px;
  }

  div.page_inicial h1 {
    text-align: center;
    font-size: 50px;
  }

  div.page_inicial h3 {
    text-align: center;
    font-size: 20px;
    line-height: 25px;
  }

  div.page_inicial form {
    flex-direction: column;
    margin-top: 10%;
  }

  div.page_inicial input{
    margin: 5%;
    max-width: 320px;
  }

  div.page_inicial button{
    width: 200px;
    height: 50px;
  }

  div.page_inicial img.background-image{
    width: 100%;
    height: 16vh;
    object-fit: contain;
  }
  
}